[project]
authors = [{ name = "SoulMelody", email = "yjxrtzyx@gmail.com" }]
license = { text = "MIT" }
requires-python = ">=3.10,<3.14"
classifiers = [
  'Development Status :: 4 - Beta',
  'Programming Language :: Python',
  'Programming Language :: Python :: Implementation :: CPython',
  'Programming Language :: Python :: 3',
  'Programming Language :: Python :: 3 :: Only',
  'Programming Language :: Python :: 3.10',
  'Programming Language :: Python :: 3.11',
  'Programming Language :: Python :: 3.12',
  'Programming Language :: Python :: 3.13',
  'Intended Audience :: Developers',
  'Intended Audience :: End Users/Desktop',
  'License :: OSI Approved :: MIT License',
  'Environment :: Console',
  'Operating System :: Unix',
  'Operating System :: POSIX :: Linux',
  'Operating System :: Microsoft :: Windows :: Windows 10',
  'Operating System :: Microsoft :: Windows :: Windows 11',
  'Operating System :: Android',
  'Framework :: Pydantic :: 2',
  'Topic :: File Formats',
  'Topic :: Multimedia :: Sound/Audio :: Sound Synthesis',
  'Typing :: Typed',
]
dependencies = [
  "bidict<0.23.2,>=0.23.1",
  "charset-normalizer<4.0.0,>=3.4.2",
  "construct",
  "construct-typing<1.0.0,>=0.6.2",
  "drawsvg<3.0.0,>=2.4.0",
  "importlib-resources<7.0.0,>=6.5.2; python_version < \"3.11\"",
  "jinja2<4.0.0,>=3.1.6",
  "jyutping",
  "ko-pron>=1.3",
  "loguru<1.0.0,>=0.7.3",
  "mido-fix",
  "more-itertools<11.0.0,>=10.7.0",
  "packaging<25.1,>=25.0",
  "platformdirs<5.0.0,>=4.3.8",
  "portion<3.0.0,>=2.6.0",
  "proto-plus<2.0.0,>=1.26.1",
  "pydantic<3.0.0,>=2.11.4",
  "pydantic-extra-types<3.0.0,>=2.10.4",
  "pydantic-settings<3.0.0,>=2.9.1",
  "pymediainfo<7.0.2,>=7.0.1; sys_platform != \"emscripten\"",
  "pypinyin<1.0.0,>=0.54.0",
  "pysubs2<2.0.0,>=1.8.0",
  "PyYAML>=6.0.2,<7.0.0; python_version<'3.13'",
  "PyYAML-ft>=7.0.1,<8.0.0; python_version>='3.13'",
  "repro-zipfile<1.0.0,>=0.4.0; python_version < \"3.11\"",
  "retrie<1.0.0,>=0.3.1",
  "rich<14.0.1,>=14.0.0",
  "tatsu-lts>=5.13.1",
  "typer-slim<1.0.0,>=0.15.3",
  "wanakana-python",
  "xsdata-pydantic<24.6,>=24.5",
  "zhon<3.0.0,>=2.1.1",
]
name = "libresvip"
dynamic = ["readme", "version"]
description = "Universal Converter for Singing Voice Projects"

[project.urls]
repository = "https://github.com/SoulMelody/LibreSVIP"
documentation = "https://soulmelody.github.io/LibreSVIP"

[project.optional-dependencies]
zstd = [
  "pyzstd<1.0.0,>=0.17.0; platform_python_implementation == \"PyPy\"",
  "zstandard<0.23.1,>=0.23.0; platform_python_implementation == \"CPython\"",
]
crypto = [
  "cffi>=1.17.1; sys_platform != \"win32\" or python_version <= \"3.11\"",
  "pyzipper>=0.3.6",
]
ujson = ["ujson>=5.10.0"]
upath = [
  "universal-pathlib<1.0.0,>=0.2.6",
]
ruamel_yaml = [
  "ruamel.yaml>=0.18.10",
  "ruamel.yaml.clib>=0.2.12; platform_python_implementation == \"CPython\" and python_version == \"3.13\"",
]
lxml = ["lxml>=5.4.0"]
tui = [
  "textual-fspicker>=0.4.1",
  "libresvip[upath]",
]
webui = [
  "nicegui>=2.17.0",
  "libresvip[upath]",
]
mobile = [
  "flet[cli,desktop]>=0.28.2",
  "flet-permission-handler>=0.1.0",
  "libresvip[upath]",
]
desktop = [
  "pyside6<6.9.1,>=6.9.0",
  "fonticon-materialdesignicons7>=7.2.96",
  "httpx>=0.28.1",
  "desktop-notifier>=6.1.1; platform_python_implementation == \"CPython\"",
  "libresvip[upath]",
]

[dependency-groups]
code_gen = [
  "datamodel-code-generator>=0.30.1",
  "gapic-generator>=1.25.0",
  "xsdata[cli]>=25.4",
]
i18n = ["babel>=2.17.0"]
linting = [
  "basedpyright>=1.29.1",
  "pre-commit>=4.2.0",
  "ruff>=0.11.9",
  "mypy>=1.15.0",
  "sourcery>=1.36.0",
  "proto-plus-stubs>=0.7.0",
  "types-lxml>=2025.3.30",
  "types-pyyaml>=6.0.12.20250402",
  "types-ujson>=5.10.0.20250326",
]
packaging = [
  "cx-Freeze>=8.3.0",
  "nuitka>=2.7.2",
  "pyinstaller>=6.13.0",
  "shellingham<2.0.0,>=1.5.4",
]
docs = [
    "mkdocs-marimo>=0.2.1",
    "mkdocs-material<10.0.0,>=9.6.13",
]
test = ["pytest>=8.3.5", "pytest-datadir>=1.6.1", "textual-dev>=1.7.0"]
all = [
  {include-group = "code_gen"},
  {include-group = "i18n"},
  {include-group = "linting"},
  {include-group = "packaging"},
  {include-group = "docs"},
  {include-group = "test"}
]

[project.scripts]
libresvip-cli = "libresvip.cli.__main__:app"
libresvip-tui = "libresvip.tui.__main__:main"
libresvip-web = "libresvip.web.__main__:main"

[project.gui-scripts]
libresvip-gui = "libresvip.gui.__main__:run"
libresvip-mobile = "libresvip.mobile.__main__:main"

[project.entry-points.pyinstaller40]
hook-dirs = "libresvip.__pyinstaller:get_hook_dirs"

[tool.uv.sources]
construct = { url = "https://www.piwheels.org/simple/construct/construct-2.10.68-py3-none-any.whl" }
jyutping = { url = "https://www.piwheels.org/simple/jyutping/jyutping-0.3.4-py2.py3-none-any.whl" }
mido-fix = { url = "https://www.piwheels.org/simple/mido-fix/mido_fix-1.2.12-py2.py3-none-any.whl" }
wanakana-python = { url = "https://www.piwheels.org/simple/wanakana-python/wanakana_python-1.2.2-py3-none-any.whl" }

[tool.hatch.version]
path = "libresvip/__init__.py"

[tool.hatch.build.targets.sdist]
only-include = [
  "libresvip",
]

[tool.hatch.build.targets.wheel]
packages = ["libresvip"]
exclude = [
  "*.po",
  "*.ts",
  "tests",
  "libresvip/res/qml/**",
]

[tool.hatch.metadata.hooks.fancy-pypi-readme]
content-type = "text/markdown"

[[tool.hatch.metadata.hooks.fancy-pypi-readme.fragments]]
path = "README.md"

[tool.pytest.ini_options]
addopts = "-s -p no:warnings"
pythonpath = "."
testpaths = "tests"

[tool.ruff]
target-version = "py310"
src = ['libresvip', 'tests']
line-length = 100
fix = true

[tool.ruff.lint]
select = [
  "A",     # builtins
  "ANN",   # annotations
  "ASYNC", # async
  "C4",    # comprehensions
  "DTZ",   # timezone
  "E",     # style errors
  "EM",    # error messages
  "EXE",   # executable
  "F",     # flakes
  "FA",    # future annotations
  "FLY",   # flynt
  "I",     # import sorting
  "ICN",   # import conventions
  "INT",   # gettext
  "ISC",   # implicit str concat
  "N",     # naming
  "PERF",  # perflint
  "PIE",   # assign and return
  "PGH",   # pygrep-hooks
  "PLC",   # pylint convention
  "PLE",   # pylint errors
  "PT",    # pytest-style
  "PTH",   # pathlib
  "PYI",   # stubs
  "Q",     # quotes
  "RUF",   # ruff
  "RSE",   # raise
  "SIM",   # simplify
  "T10",   # debugger
  "T20",   # print
  "TC",    # type-checking
  "TID",   # tidy imports
  "TRY",   # tryceratops
  "UP",    # pyupgrade
  "W",     # style warnings
  "YTT",   # sys.version
]
ignore = [
  "ANN401", # Dynamically typed expressions (typing.Any) are disallowed
  "E501",   # Line too long
  "RUF001", # String contains ambiguous symbol
  "RUF009", # Do not perform function call in dataclass defaults
]

[tool.ruff.lint.isort]
known-first-party = ['libresvip', 'tests']

[tool.mypy]
python_version = "3.10"
disable_error_code = "import-not-found,import-untyped,unused-ignore"
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
no_implicit_reexport = true
disallow_untyped_defs = true
warn_no_return = false
no_site_packages = true
explicit_package_bases = true
plugins = [
  "pydantic.mypy"
]

[tool.pyright]
pythonVersion = "3.10"
typeCheckingMode = "strict"
reportAttributeAccessIssue = "none"
reportAssignmentType = "none"
reportCallIssue = "none"
reportIncompleteStub = "warning"
reportMissingImports = "warning"
reportMissingParameterType = "none"
reportMissingTypeStubs = "warning"
reportUnknownMemberType = "none"
reportUnknownParameterType = "none"
reportUnknownVariableType = "none"
reportUnusedFunction = "none"
reportUninitializedInstanceVariable = "none"
reportMissingModuleSource = "none"
reportIncompatibleMethodOverride = "none"
reportIncompatibleVariableOverride = "none"
reportUnknownArgumentType = "none"
reportUnusedVariable = "none"
reportUnusedImport = "none"
reportUnnecessaryContains = "none"
reportRedeclaration = "none"
reportUntypedFunctionDecorator = "none"
reportUntypedClassDecorator = "none"
reportFunctionMemberAccess = "none"
reportUntypedBaseClass = "warning"
reportAbstractUsage = "warning"
reportMissingTypeArgument = "warning"
reportUnknownLambdaType = "warning"
reportPrivateUsage = "warning"
reportOptionalOperand = "warning"
reportInvalidTypeForm = "warning"
reportUnnecessaryComparison = "warning"
reportReturnType = "warning"
reportGeneralTypeIssues = "warning"
reportOptionalMemberAccess = "warning"
reportUnnecessaryTypeIgnoreComment = "warning"
reportUnnecessaryIsInstance = "warning"
reportOperatorIssue = "warning"
reportArgumentType = "warning"
reportIndexIssue = "warning"
reportMatchNotExhaustive = "warning"
reportCallInDefaultInitializer = "error"

[build-system]
requires = ["hatchling", "hatch-fancy-pypi-readme"]
build-backend = "hatchling.build"
