shellingham
pyinstaller==6.20.0 ; platform_system != "Windows" or platform_machine == "ARM64"
https://github.com/webcomics/pyinstaller-builder/releases/download/snapshot/pyinstaller-6.20.0-py3-none-any.whl ; platform_system == "Windows" and platform_machine != "ARM64"
pillow ; sys_platform == "darwin"
