altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
bidict==0.23.1
certifi==2025.1.31
cffi==1.17.1 ; python_full_version < '3.12' or sys_platform != 'win32'
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6 ; sys_platform == 'win32'
construct==2.10.68
construct-typing==0.6.2
dbus-fast==2.33.0 ; platform_python_implementation == 'CPython' and sys_platform == 'linux'
desktop-notifier==6.0.0 ; platform_python_implementation == 'CPython'
drawsvg==2.4.0
exceptiongroup==1.2.2 ; python_full_version < '3.11'
fonticon-materialdesignicons7==7.2.96
fsspec==2025.2.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
importlib-metadata==8.6.1 ; python_full_version < '3.10'
importlib-resources==6.5.2 ; python_full_version < '3.11'
jinja2==3.1.5
loguru==0.7.3
lxml==5.3.0
macholib==1.16.3 ; sys_platform == 'darwin'
markdown-it-py==3.0.0
markupsafe==3.0.2
mdurl==0.1.2
mido-fix @ https://www.piwheels.org/simple/mido-fix/mido_fix-1.2.12-py2.py3-none-any.whl
more-itertools==10.6.0
packaging==24.2
parsimonious==0.10.0
pefile==2023.2.7 ; sys_platform == 'win32'
pillow==11.1.0 ; sys_platform == 'darwin'
platformdirs==4.3.6
portion==2.6.0
proto-plus==1.26.0
protobuf==5.29.3
pycparser==2.22 ; python_full_version < '3.12' or sys_platform != 'win32'
pycryptodomex==3.21.0
pydantic==2.10.6
pydantic-core==2.27.2
pydantic-extra-types==2.10.2
pydantic-settings==2.7.1
pygments==2.19.1
pyinstaller==6.11.1 ; platform_machine == 'arm64' or sys_platform != 'win32'
pyinstaller @ https://github.com/webcomics/pyinstaller-builder/releases/download/snapshot/pyinstaller-6.11.1-py3-none-any.whl ; platform_machine != 'arm64' and sys_platform == 'win32'
pyinstaller-hooks-contrib==2025.1
pymediainfo==6.1.0 ; sys_platform != 'emscripten'
pypinyin==0.53.0
pyside6==6.8.2.1
pyside6-addons==6.8.2.1
pyside6-essentials==6.8.2.1
pysubs2==1.8.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3 ; sys_platform == 'win32'
pyyaml==6.0.2
pyzipper==0.3.6
pyzstd==0.16.2 ; platform_python_implementation == 'PyPy'
regex==2024.11.6
repro-zipfile==0.3.1 ; python_full_version < '3.11'
retrie==0.3.1
rich==13.9.4
ruamel-yaml==0.18.10
ruamel-yaml-clib==0.2.12 ; python_full_version < '3.14' and platform_python_implementation == 'CPython'
rubicon-objc==0.5.0 ; platform_python_implementation == 'CPython' and sys_platform == 'darwin'
setuptools==75.8.0
shellingham==1.5.4
shiboken6==6.8.2.1
sniffio==1.3.1
sortedcontainers==2.4.0
typer-slim==0.15.1
typing-extensions==4.12.2
ujson==5.10.0
universal-pathlib==0.2.6
wanakana-python @ https://www.piwheels.org/simple/wanakana-python/wanakana_python-1.2.2-py3-none-any.whl
win32-setctime==1.2.0 ; sys_platform == 'win32'
winrt-runtime==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
winrt-windows-applicationmodel-core==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
winrt-windows-data-xml-dom==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
winrt-windows-foundation==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
winrt-windows-foundation-collections==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
winrt-windows-foundation-interop==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
winrt-windows-ui-notifications==2.3.0 ; platform_python_implementation == 'CPython' and sys_platform == 'win32'
xsdata==24.12
xsdata-pydantic==24.5
zhon==2.1.1
zipp==3.21.0 ; python_full_version < '3.10'
zstandard==0.23.0 ; platform_python_implementation == 'CPython'
