name: compile-files

on:
  push:
    branches:
      - main

jobs:
  compile-files:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            po:
              - "**/LC_MESSAGES/*.po"
            qml:
              - "**/*.qml"
            requirements:
              - "pyproject.toml"
              - "uv.lock"
              - "packaging/requirements-flet.in"
              - "packaging/requirements-desktop.in"
              - "packaging/requirements-mobile.in"
              - "packaging/requirements-pyinstaller.in"
            docs:
              - "docs/**"
              - "mkdocs.yml"

      - name: Set up uv
        if: steps.changed-files.outputs.po_any_changed == 'true' || steps.changed-files.outputs.qml_any_changed == 'true' || steps.changed-files.outputs.requirements_any_changed == 'true' || steps.changed-files.outputs.docs_any_changed == 'true'
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Compile catalogs
        if: steps.changed-files.outputs.po_any_changed == 'true'
        run: |
          uv venv
          uv pip install babel setuptools
          cd scripts
          uv run python batch_compile_catalog.py

      - name: Compile qt resources
        if: steps.changed-files.outputs.qml_any_changed == 'true'
        run: |
          uv venv
          uv pip install pyside6
          cd scripts
          uv run python patch_qt_resource.py

      - name: Compile requirements.txt
        if: steps.changed-files.outputs.requirements_any_changed == 'true'
        run: |
          uv pip compile --universal --extra desktop --extra crypto --extra ujson --extra lxml --extra ruamel_yaml --extra zstd -U --python 3.10 --no-annotate --no-header pyproject.toml packaging/requirements-pyinstaller.in --overrides packaging/requirements-desktop.in -o packaging/requirements-desktop.txt
          uv pip compile --python-platform aarch64-linux-android --index https://pypi.flet.dev --extra crypto --extra lxml --extra ruamel_yaml --extra zstd -U --python-version 3.12 --no-annotate --no-header --index-strategy unsafe-first-match pyproject.toml packaging/requirements-flet.in --overrides packaging/requirements-mobile.in -o packaging/requirements-android.txt

      - name: Build docs
        if: steps.changed-files.outputs.docs_any_changed == 'true'
        run: |
          uv venv
          uv pip install mkdocs-material
          uv run mkdocs build

      - uses: peaceiris/actions-gh-pages@v4
        if: steps.changed-files.outputs.docs_any_changed == 'true'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: site

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: compile files
