name: Packaging
on:
  push:
    tags:
      - "v*"
env:
  FLET_PYTHON_VERSION: "3.14.3"

jobs:
  make-outputs:
    runs-on: ubuntu-latest
    outputs:
      VERSION: ${{ steps.get_version.outputs.VERSION }}
    steps:
      - name: Get version
        id: get_version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_OUTPUT

  release_windows_amd64:
    runs-on: windows-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build with pyinstaller
        shell: bash -el {0}
        run: |
          uv venv --python 3.14
          uv build --wheel
          cd packaging
          uv pip install -r requirements-desktop.txt
          uv pip install ../dist/*.whl --no-deps
          uv run pydeploy libresvip-gui.spec --venv ../.venv --appv ${{ needs.make-outputs.outputs.VERSION }} -a LibreSVIP --id org.soulmelody.libresvip -l ../LICENSE -i ../libresvip/res/libresvip.ico --nsis libresvip-desktop.nsi -y -f LibreSVIP
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-win-amd64.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/*.exe

  release_windows_msys2_ucrt64:
    runs-on: windows-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install: >-
            mingw-w64-ucrt-x86_64-python-pip
            mingw-w64-ucrt-x86_64-uv
            p7zip
      - name: Build with pyinstaller
        shell: msys2 {0}
        run: |
          uv build --wheel
          cd packaging
          python mingw_install.py
          python -m pip install ../dist/*.whl --no-deps
          pyinstaller libresvip-gui.spec
          cd dist
          7z a LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.msys2-ucrt64.7z libresvip-gui
          rm -rf libresvip-gui
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-msys2-ucrt64.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.msys2-ucrt64.7z

  release_windows_arm64:
    runs-on: windows-11-arm
    needs: [make-outputs]
    steps:
      - id: mediainfo_version
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: MediaArea/MediaInfo
      - uses: actions/checkout@v6

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build with pyinstaller
        shell: bash -el {0}
        run: |
          uv build --wheel
          uv venv --python cpython-3.13.10-windows-aarch64-none
          cd dist
          uv pip install *.whl --no-deps
          cd ../packaging
          uv run python -m ensurepip
          uv run python download_win_arm64_wheels.py
          uv pip install *.whl --no-deps
          uv run pyinstaller libresvip-gui.spec
          mkdir archive
          cd dist
          export MEDIAINFO_VERSION=${{ steps.mediainfo_version.outputs.release }}
          curl -O https://mediaarea.net/download/binary/mediainfo-gui/${MEDIAINFO_VERSION#v}/MediaInfo_GUI_${MEDIAINFO_VERSION#v}_Windows_ARM64_WithoutInstaller.7z
          7z x MediaInfo_GUI_${MEDIAINFO_VERSION#v}_Windows_ARM64_WithoutInstaller.7z
          mkdir -p libresvip-gui/_internal/pymediainfo
          cp MediaInfo.dll libresvip-gui/_internal/pymediainfo
          7z a ../archive/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.win-arm64.7z libresvip-gui
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-win-arm64.zip
          path: ./packaging/archive/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/archive/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.win-arm64.7z

  release_linux_x86_64:
    runs-on: ubuntu-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install OS dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libegl1
      - name: Build with pyinstaller
        run: |
          uv build --wheel
          uv venv --python 3.14
          cd packaging
          uv pip install -r requirements-desktop.txt
          uv pip install ../dist/*.whl --no-deps
          uv run pydeploy libresvip-gui.spec --venv ../.venv --appv ${{ needs.make-outputs.outputs.VERSION }} -a LibreSVIP --id org.soulmelody.libresvip -l ../LICENSE -i libresvip.png --no-clean -y -f LibreSVIP
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-linux-x86_64.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/*.AppImage

  release_linux_aarch64:
    runs-on: ubuntu-24.04-arm
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install OS dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y binutils curl libdouble-conversion3 libfreetype6 libfontconfig1 libegl1 libgl1 libglib2.0-0 libtiff6 libwayland-dev libwebp7 libwebpdemux2 libwebpmux3 libxt6
      - name: Build with pyinstaller
        run: |
          uv build --wheel
          uv venv --python 3.14
          cd packaging
          uv pip install -r requirements-desktop.txt
          uv pip install ../dist/*.whl --no-deps
          uv run pydeploy libresvip-gui.spec --venv ../.venv --appv ${{ needs.make-outputs.outputs.VERSION }} -a LibreSVIP --id org.soulmelody.libresvip -l ../LICENSE -i libresvip.png --no-clean -y -f LibreSVIP
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-linux-aarch64.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/*.AppImage

  release_macos_x86_64:
    runs-on: macos-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Install Rosetta
        shell: bash
        run: |
          softwareupdate --install-rosetta --agree-to-license
      - name: Set up rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: false
          target: x86_64-apple-darwin
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build with pyinstaller
        run: |
          uv build --wheel
          uv venv --python cpython-3.14.3-macos-x86_64-none
          cd packaging
          uv pip install -r requirements-desktop.txt
          uv pip install ../dist/*.whl --no-deps
          uv run python -m PyInstaller libresvip-gui.spec
          brew install create-dmg
          create-dmg --volname "LibreSVIP" dist/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.macos-x86_64.dmg ./dist/LibreSVIP.app
          rm -rf ./dist/LibreSVIP.app
          cd ..
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-macos-x86_64.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.macos-x86_64.dmg

  release_macos_arm64:
    runs-on: macos-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build with pyinstaller
        run: |
          uv build --wheel
          uv venv --python 3.14
          cd packaging
          uv pip install -r requirements-desktop.txt
          uv pip install ../dist/*.whl --no-deps
          uv run python -m PyInstaller libresvip-gui.spec
          brew install create-dmg
          create-dmg --volname "LibreSVIP" dist/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.macos-arm64.dmg ./dist/LibreSVIP.app
          rm -rf ./dist/LibreSVIP.app
          cd ..
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-macos-arm64.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.macos-arm64.dmg

  release_apk:
    runs-on: ubuntu-latest
    needs: [make-outputs]

    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"

      - name: Install Dependencies
        run: |
          uv build --wheel
          uv venv --python 3.12
          uv sync --extra mobile
          uv run python -m ensurepip --upgrade
      - name: Setup Android SDK
        # https://github.com/android-actions/setup-android
        uses: android-actions/setup-android@v3
        with:
          packages: "build-tools;29.0.3"

      - name: Flet Build APK
        run: |
          cd packaging
          bash install_mobile_requirements.sh android_24_arm64_v8a arm64-v8a
          bash install_mobile_requirements.sh android_24_armeabi_v7a armeabi-v7a
          bash install_mobile_requirements.sh android_24_x86_64 x86_64
          bash build_apk.sh
          mv build/apk/app-release.apk build/apk/LibreSVIP-${{ needs.make-outputs.outputs.VERSION }}.apk
          cd ..

      - uses: ilharp/sign-android-release@v2
        name: Sign app APK
        id: sign_app
        with:
          releaseDir: ./packaging/build/apk
          signingKey: ${{ secrets.SIGNING_KEY }}
          keyAlias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v7
        with:
          path: ${{steps.sign_app.outputs.signedFile}}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ${{steps.sign_app.outputs.signedFile}}

  release_mobile_win32:
    runs-on: windows-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build with pyinstaller
        shell: bash -el {0}
        run: |
          uv venv --python cpython-${FLET_PYTHON_VERSION}-windows-x86-none
          uv sync --extra mobile --extra crypto --extra ujson --extra yaml12 --extra lxml --extra zstd
          cd packaging
          uv pip install -r requirements-pyinstaller.in
          uv run pyinstaller libresvip-mobile.spec
          cd dist
          7z a LibreSVIP-mobile-${{ needs.make-outputs.outputs.VERSION }}.win32.7z libresvip-mobile
          rm -rf libresvip-mobile
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-mobile-win32.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/LibreSVIP-mobile-${{ needs.make-outputs.outputs.VERSION }}.win32.7z

  release_mobile_win_amd64_ft:
    runs-on: windows-latest
    needs: [make-outputs]
    steps:
      - uses: actions/checkout@v6
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Build with pyinstaller
        shell: bash -el {0}
        run: |
          uv venv --python cpython-${FLET_PYTHON_VERSION}+freethreaded-windows-x86_64-none
          uv sync --extra mobile --extra crypto --extra ujson --extra lxml --extra zstd
          cd packaging
          uv pip install -r requirements-pyinstaller.in
          uv run pyinstaller libresvip-mobile.spec
          cd dist
          7z a LibreSVIP-mobile-${{ needs.make-outputs.outputs.VERSION }}.win64-free_threaded.7z libresvip-mobile
          rm -rf libresvip-mobile
      - name: Upload build artifact
        uses: actions/upload-artifact@v7
        with:
          name: libresvip-mobile-win64-free_threaded.zip
          path: ./packaging/dist/
      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: v${{ needs.make-outputs.outputs.VERSION }}
          files: |
            ./packaging/dist/LibreSVIP-mobile-${{ needs.make-outputs.outputs.VERSION }}.win64-free_threaded.7z

